*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    opacity: 0.6;
}

h1{
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 2.3em;
}

h2{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 1.8em;
    color: hsl(14, 45%, 36%);
}



h3{
    font-family: "Outfit", sans-serif;
    font-weight: 700;
}

img{
    width: 100%;
}

/* content */

.content{
    padding: 2em;
}

.content h1{
    margin-bottom: 0.5em ;
    line-height: 1;
}

.firstp{
    margin-bottom: 1.15em;
    line-height: 1.5;
}

/* prep */

.preperation{
    background-color: hsl(330, 100%, 98%);
    padding: 1.5em;
    border-radius: 10px;
    margin-bottom: 2em;
}

.preperation h3{
    color: hsl(332, 51%, 32%);
    margin-bottom: 0.5em;
}

.preperation ul{
    margin-left: 1.5em;
    margin-right: 1em;
}

.purple{
    line-height: 1.5;
}

li p{
    margin-left: 1em;
    margin-bottom: 0.5em;
}

.p::marker{
    color: hsl(332, 51%, 32%);
}

.b{
    font-weight: bold;
}


/* ingredients */

.Ingredients{
    margin-bottom: 1.5em;
}

.br::marker{
    color: hsl(14, 45%, 36%);
}

.brown{
    margin-left: 1.5em;
    line-height: 1.5;
}

.Ingredients h2{
    margin-bottom: 0.5em;
}

hr{
    opacity: 0.6;
    margin-bottom: 1.5em;
}

/* Instructions */

.instructions{
    margin-bottom: 1.5em;
}

.instructions h2{
    margin-bottom: 0.5em;
}

.br2::marker{
    color: hsl(14, 45%, 36%);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

ol{
    margin-left: 1.5em;
    line-height: 1.5;
}

/* nutrition */

